<% provide(:title, '一覧') %>
<h1>ユーザ一覧</h1>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>