<% provide(:title, '勤怠表示') %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>時間管理表</td>
      <td>指定勤務時間</td>
      <td>基本時間</td>
      <td>月の初日</td>
    </tr>

    <tr>
      <td>所属</td>
      <td>氏名：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>月の末日</td>
    </tr>
  </table>
</div>