<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      フォームには<%= pluralize(@user.errors.count, "件のエラーが") %>含まれています！
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>